.descriptionText {
    width: 50%;
}
#container {
    margin: 0 10%;
    background-color: white;
}

#header h1 {
    text-align: center;
    padding-top: 50px;
}
body {
    background-color: #EFEFEF;
}
#content {
    padding: 80px;
}
